# First iteration used Dig to check for existing records.
#---
#- name: Localhost> Record existing DNS Records into a new dictionary
#  debug:
#    msg: "{{ lookup('community.general.dig', '' + item.hostname + '.' + dnsimple_domain )}}"
#  with_items:
#  - "{{ dnsimple_hosts_to_add }}"
#  register: dnsimple_hosts_existing_records
#- debug:
#    msg: "{{ dnsimple_hosts_existing_records }}"
#...
---
# This iteration will compare actual records in DNSimple and create a new dictionary with that info.

#Since the community plugin does not support this, we will need to get the accountID for the needed API calls
- name: get accountID
  uri:
    url: "https://api.sandbox.dnsimple.com/v2/accounts"
    method: GET
    headers: "{{ dnsimple_headers }}"
  register: dnsimple_get_account_info

- name: Extract AccountID
  set_fact:
    account_id: "{{ dnsimple_get_account_info.json.data[0].id }}"

- name: Build the API URL, if accountID is set already, use that, else use best guess from above.
  set_fact:
    dnsimple_records_url: "https://api.sandbox.dnsimple.com/v2/{% if dnsimple_account_id is defined %}{{ dnsimple_account_id }}{% else %}{{ account_id }}{% endif %}/zones/{{ dnsimple_domain }}/records"

- name: get list of current records
  uri:
    url: "{{ dnsimple_records_url }}"
    method: GET
    headers: "{{ dnsimple_headers }}"
  register: dnsimple_current_records

- name: create a dict from current records
  set_fact:
    dnsimple_current_records_dict: "{{ dnsimple_current_records.json.data }}"

- debug:
    msg: "{{ dnsimple_current_records_dict }}"

- name: Create new dictionary showing if records are already set
  debug:
    #This is one way to do it, but I believe the second is easier to parse and understand.
    #msg: "{% if dnsimple_current_records_dict|selectattr('name', 'equalto', item.name)|list|json_query('[*].name') %}already_in_dns{% else %}not_in_dns{% endif %}"
    #Iterate over item.name from our existing records, check for the attribute "name" and see if it exists within our list we want added to DNS
    msg: "{% if item.name in dnsimple_current_records_dict | map(attribute='name') | list %}already_in_dns{% else %}not_in_dns{% endif %}"
  with_items: "{{ dnsimple_hosts_to_add }}"
  register: dnsimple_hosts_list_with_existing_records

- debug:
    msg: "{{ dnsimple_hosts_list_with_existing_records }}"
...
