- name: Localhost> Record existing DNS Records into a new dictionary
  ansible.builtin.debug:
    msg: "{{ lookup('community.general.dig', '' + item.hostname + '{{ if dnsimple_domain is defined }}{{ dnsimple_domain  }}' + dnsimple_domain )}}"
  with_items:
  - "{{ dnsimple_hosts_to_add }}"
  register: dnsimple_hosts_existing_records
